/* Some common classes */
body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
    color: #272727;
}

.desc {
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.60);
}

.primary-color {
    color: #E55473;
}

.section-intro {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}


/* Button */
.btn-primary {
    background-color: #E55473;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    color: #fff;
}

header,
#hot-deal {
    background-color: rgba(229, 84, 115, 0.10);
    ;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
}

/* Navigation Related Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .menu-item ul {
    display: flex;
    align-items: center;
    gap: 50px
}

nav .menu-item ul li {
    list-style: none;
}

nav .menu-item ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}

.banner-content {
    width: 45%;
}

.banner .title {
    font-size: 80px;
}

/* main */
main .container {
    margin-top: 128px;
}

/* Dome Card css */
.dome-card-group {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.dome-card {
    height: 550px;
    width: 30%;
    border-radius: 300px 300px 0 0;
}

.first-dome-card {
    background-color: rgba(167, 33, 98, 0.15);
}

.second-dome-card {
    background-color: rgba(5, 151, 160, 0.15);
}

.third-dome-card {
    background-color: rgba(71, 125, 17, 0.15);
}

.first-dome-card img,
.second-dome-card img {
    display: flex;
    margin: 122px auto 0;
}

.third-dome-card img {
    display: flex;
    margin: 79px auto 0;
}

.card-caption {
    display: flex;
    justify-content: space-around
}

.card-caption>p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* features CSS */

.features {
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}

.feature-card {
    text-align: center;
}

.feature-card p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* Sale banner CSS */

.sale {
    padding: 80px 190px 100px;
}

.sale .banner-content .title {
    font-size: 40px;
}

.sale .banner-content {
    text-align: center;
}

/* Instagram gallery CSS */
.gallery {
    display: flex;
    justify-content: space-between;
}

.occasion-container{
    display: flex;
    justify-content: space-between;
}
.occasion-card{
    width: 23%;
}
.occasion-card img{
    width: 100%;
}

/* Subscribe Section CSS */

#subscribe {
    background-image: url("../images/Rectangle9.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#subscribe div {
    padding: 50px 0;
}

#subscribe form input[type="email"] {
    display: inline-block;
    width: 700px;
    border: 0;
    color: rgba(39, 39, 39, 0.60);
    border-radius: 8px;
    margin-right: 16px;
    padding: 22px;
}

#subscribe form input[type="submit"] {
    font-size: 13px;
    padding: 20px 35px;
}

/* Footer CSS */

footer {
    margin-top: 128px;
    color: #fff;
    background: #111010;
    padding: 120px 0;
}

footer .title {
    color: #FFFFFF;
}

footer .desc {
    color: rgba(255, 255, 255, 0.90);
}

footer p>small {
    color: rgba(255, 255, 255, 0.40);
}